// Color Variables
$color-primary: #ff5656;
$color-secondary: #d38900;
$color-tertiary: #ffda34;
$color-black: #212121;
$color-white: #ffffff;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;