.btn {
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4.0rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
        background-color: $color-lightgrey;
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .1);
    }
    
    &--white {
        background-color: $color-white;
        color: $color-secondary;
        font-weight: 500;
    }
    
    &--animated {
        animation: moveInBottom 1.4s ease-in-out;
    }
}