.form {
    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        font-family: "Lato", sans-serif;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border: 3px solid $color-green;
            transition: all .3s;

            &:invalid {
                border: 3px solid transparent;
                border-image: $color-gradient;
                border-image-slice: 1;
            }
        }


        &::-webkit-input-placeholder {
            color: $color-grey;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 400;
        margin-left: 2rem;
        margin-top: .6rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2rem);
    }

    &__group:not(:last-child) {
        margin-bottom: .5rem;
    }
}